<div id="signup">
    <div class="card-signup">
        <img src="../../../assets/img/signup.jpg" alt="barber" />

        <div class="container-signup">
            <form [formGroup]="form">

                <div class="input-main-component">
                    <label for="perfil">Perfil*</label>
                    <select name="perfil" id="perfil" required formControlName="user_type">
                        <option *ngFor="let p of perfil" [value]="p">{{p}}</option>
                    </select>
                </div>

                <div class="input-main-component">
                    <label for="firstName">Primeiro nome*</label>
                    <input type="text" id="firstName" required formControlName="firstName">
                </div>

                <div class="input-main-component">
                    <label for="lastName">Sobrenome*</label>
                    <input type="text" id="lastName" required formControlName="lastName">
                </div>

                <div class="input-main-component">
                    <label for="birthDate">Data de nascimento</label>
                    <input type="date" id="birthDate" required formControlName="birthDate">
                </div>

                <div class="input-main-component">
                    <label for="email">Email*</label>
                    <input type="email" id="email" formControlName="email">
                </div>

                <div class="input-main-component">
                    <label for="phone">Telefone</label>
                    <input type="text" id="phone" formControlName="phone" mask="(00) 00000-0000">
                </div>

                <div class="input-main-component">
                    <label for="cpf">Cpf*</label>
                    <input type="string" id="cpf" formControlName="cpf" mask="000.000.000-00">
                </div>

                <div class="input-main-component">
                    <label for="password">Senha*</label>
                    <input type="password" id="password" formControlName="password">
                </div>

                <div class="input-main-component">
                    <label for="passwordConfirmation">Confirmar senha*</label>
                    <input type="password" id="passwordConfirmation" formControlName="passwordConfirmation">
                </div>

                <button type="submit" class="btn-main-component" (click)="signup()">Cadastrar</button>

            </form>

            <br><br>
        </div>
    </div>
</div>