@import '../../../scss/variables', '../../../scss/main.scss';

#dashboard {
    background-color: $primary-color;
    padding: 50px;
    text-align: center;
    height: 100vh;
    width: 100vw;
    .panel {
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        padding: 10px;
        border-radius: 15px;
    }

    .line {
        padding: 15px;
        display: flex;
        justify-content: space-around;
    }
}