<div id="dashboard">
    <div class="panel">
        <h1>- Dashboard Administrador -</h1>
        <br>
        <div class="line">
            <app-dashboard-card image="team" text="Colaboradores" target="employees"></app-dashboard-card>
            <app-dashboard-card image="sales" text="Vendas" target="sales"></app-dashboard-card>
            <app-dashboard-card image="schedule" text="Agendamentos"></app-dashboard-card>
        </div>
        <div class="line">
            <app-dashboard-card image="register" text="Novo colaborador" target="signup"></app-dashboard-card>
        </div>
    </div>
        
</div>
