
<div id="login">
    <div class="card-login">
        <img src="../../../assets/img/barber.jpeg" alt="barber" />

        <div class="container-login">
            <div class="input-main-component">
                <label htmlFor="email-login">Email</label>
                <input id="email-login" type="text"/>
            </div>

            <div class="input-main-component">
                <label htmlFor="password-login">Senha</label>
                <input id="password-login" type="password"/>
            </div>

            <button class="btn-main-component" routerLink="/admin-dashboard">entrar</button>

            <h4>
                Não possui conta? <span routerLink="/signup">Cadastre-se</span>
            </h4>
        </div>
    </div>
</div>