<div id="login">
    <div class="card-login">
        <img src="../../../assets/img/barber.jpeg" alt="barber" />

        <form [formGroup]="form">
            <div class="container-login">
                <div class="input-main-component">
                    <label htmlFor="email-login">Email</label>
                    <input id="email-login" type="text" formControlName="email" />
                </div>

                <div class="input-main-component">
                    <label htmlFor="password-login">Senha</label>
                    <input id="password-login" type="password" formControlName="password" />
                </div>

                <button class="btn-main-component" (click)="login()">entrar</button>

                <h4>
                    <span routerLink="/forgotit">Esqueceu sua senha? Clique aqui</span>
                </h4>
            </div>
        </form>
    </div>
</div>