@import './variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: $white;
  font: georgia;
}

.btn-main-component {
  background-color: $btn-color;
  color: $white;
  text-transform: uppercase;
  border-style: none;
  height: 50px;
  width: 100%;
  border-radius: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 20px;
}

.input-main-component {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 8px;
  }

  input {
    border: 2px solid black;
    height: 35px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  }

  input[type='password'] {
    border: 2px solid black;
    height: 35px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  }

  select {
    border: 2px solid black;
    height: 35px;
    border-radius: 2px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.25);
  }
}

.panel {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 10px;
  border-radius: 15px;
}

.progress {
  width: 100%;
  height: 6px;
  background-color: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(90deg,$dark-blue,$btn-color 17%,$light-blue 34%,#01feff 51%,$dark-blue 68%,$btn-color 85%,$light-blue);
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
}

@mixin display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
